<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Map</title>
  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet/dist/leaflet.css"
  />
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css"
  />
  <style>
    #map {
      height: 75vh;
    }
  </style>
</head>
<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    <h1>West Lafayette Crisis Aversion</h1>
    <div id="map"></div>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>

        const map = L.map("map").setView([40.4259, -86.9081], 13);
        L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png").addTo(map);

        var locations_json_string = {{ locations_json | tojson | safe }};
        var locations = eval(locations_json_string);  // Use eval to parse the string into an array
        console.log(locations);  // Check if the locations are correctly parsed

        // Loop through the locations array
        locations.forEach(function(location) {
            console.log(location.lat, location.lng);

            category = location.category;
            resources = location.resources;
            severity = location.severity;
            address = location.address;
            lat = location.lat;
            lng = location.lng;

            if (category == "1") {
                category = "Snowstorm";
            } else if (category == "2") {
                category = "Fire";
            } else if (category == "3") {
                category = "Drought";
            } else if (category == "4") {
                category = "Accident";
            } else if (category == "5") {
                category = "Tornado";
            } else if (category == "6") {
                category = "Icy";
            } else if (category == "7") {
                category = "Available Resources";
            }

            if (resources == "1") {
                resources = "Yes";
            } else if (resource == "2") {
                resources = "No";
            }

            if (severity == "1") {
                severity = "Low"
            } else if (severity == "2") {
                severity = "Medium"
            } else if (severity == "3") {
                severity = "High"
            }

            popup = L.popup()
             .setLatLng([lat, lng])
             .setContent("Category: " + category + "\<br> Resources: " + resources + "\<br> Severity: " + severity + "\<br> Address: " + address)
             .addTo(map);
        });

        // console.log(locations)
        // const obj = JSON.parse(locations);
        // console.log(obj.lat);

        // locations.forEach(function(location) {
        //     console.log("af;ieawhjfpoi")
        //     var category = location.category;
        //     var resources = location.resources;
        //     var severity = location.severity;
        //     var address = location.address;
        //     var lat = location.lat;
        //     var lng = location.lng;

        //     console.log("Lat: ", lat, "Lng: ", lng);

        //     var popup = L.popup()
        //     .setLatLng([lat, lng])
        //     .setContent("AHHHHHHHHHH")
        //     .openOn(map);
        // });
    </script>

    <a href="{{ url_for('incidentReport' )}}">Report an Incident</a>
    <br>
    <a href="{{ url_for('userReports' )}}">My Reports</a>
    <br>
    <a href="{{ url_for('profile') }}">Profile Page</a>
    <br>
    <a href="{{ url_for('index') }}">Logout</a>
    </body>
</html>