<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crisis Form</title>
</head>

<!-- Flash Messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <ul>
    {% for streetAddress, message in messages %}
        <li class="{{ streetAddress }}">{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% endwith %}

<body>
    <h2>Report an Incident</h2>

    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.category.label }}
            {{ form.category() }}
        </div>
        <div>
            {{ form.resources.label }}
            {% for subfield in form.resources %}
                <label>{{ subfield }} {{subfield.label}}</label>
            {% endfor %}
        </div>
        <div>
            {{ form.severity.label }}
            {% for subfield in form.severity %}
                <label>{{ subfield }} {{subfield.label}}</label>
            {% endfor %}
        </div>
        <div>
            {{ form.streetAddress.label }}
            {{ form.streetAddress() }}
        </div>
        <div>
            <button type="submit">Report</button>
        </div>
    </form>
    <a href="{{ url_for('dashboard' )}}">Dashboard</a>
</body>
</html>
