<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>


    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}


<body>
    <h2>Profile Information</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            <label for="username">Change Username:</label>
            {{ form.username() }}
        </div>
        <div>
            <label for="password">Change Password:</label>
            {{ form.password() }}
        </div>
        <div>
            <label for="confirm_password">Confirm Password:</label>
            {{ form.confirm_password() }}
        </div>
        <div>
            <button type="submit">Save Changes</button>
        </div>
    </form>
    <a href="{{ url_for('dashboard' )}}">Dashboard</a>
<body>
</html>
